#adminsettings .form-item .form-description {
    width: 580px;
    margin: 0.5em 0 0em 162px;
}

/* page layout fix */
body {
    margin: auto 0px;
    width: auto;
}

#page {
    padding-top: 10px;
    position: relative;
}

#page-header {
    float: none;
    width: 100%;
}

#page #page-header {
	margin-top: 0px;
}

#page-content {
    clear: none;
    float: none;
    overflow: hidden;
    position: inherit;
    width: auto;
}

#page-content #region-main-box {
    float: none;
	 position: relative;
    left: 0px;
    width: 100%;
}

#page-content #region-post-box {
    float: none;
    left: 0;
    position: relative;
    width: 100%;
}

#page-content #region-main-wrap {
    float: none;
    position: relative;
    right: 0;
    width: 100%;
}

#page-content #region-main {
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}

#page-content #region-pre {
    float: none;
    left: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#page-content #region-post {
    float: none;
    left: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#page-content .region-content {
    overflow: hidden;
    padding: 10px;
}

#page-footer {
    clear: both;
	 margin-top: 10px;
    float: none;
    width: auto;
}



/** Moving block when side-post-only **/
.blocks-moving.side-post-only #page-content #region-main-box {
    left: 0px;
    width: auto;
}

.blocks-moving.side-post-only #page-content #region-post-box {
    margin-left: 0px;
}

.blocks-moving.side-post-only #page-content #region-main {
    margin-left: 0px;
}

.blocks-moving.side-post-only #page-content #region-pre {
    left: 0px;
    width: 0px;
}

.blocks-moving.side-post-only #page-content #region-post {
    left: 0px;
    width: 0px;
}

/** No blocks whatsoever **/
.content-only #page-content {
    min-width: 0;
}

.content-only #page-content #region-main-box {
    left: 0px;
}

.content-only #page-content #region-post-box {
    margin-left: 0px;
}

.content-only #page-content #region-main {
    margin-left: 0px;
}

.content-only #page-content #region-pre {
    left: 0;
    width: 0px;
}

.content-only #page-content #region-post {
    width: 0;
}

/** Stabalise some IE6 behaviour **/
.ie6 #region-pre .region-content, .ie6 #region-post .region-content {
    padding: 0 !important;
    width: 100%;
    float: none;
}

.ie6 #region-pre .region-content .block, .ie6 #region-post .region-content .block {
    width: auto;
    padding: 0;
    margin: 10px;
}

/** Report layout **/
.pagelayout-report #page {
    width: auto;
    position: relative;
}

.pagelayout-report #page-header {
    float: none;
}

.pagelayout-report #page-content {
    float: none;
    overflow: visible;
    width: auto;
}

.pagelayout-report #report-main-content {
    float: none;
    width: 100%;
}

.pagelayout-report #report-main-content .region-content {
    margin-left: 0px;
}

.pagelayout-report #report-main-content .region-content table {
    background-color: #FFF;
}

.pagelayout-report #report-region-wrap {
    width: 0;
    float: none;
    position: relative;
    left: 0;
}

.pagelayout-report #report-region-pre {
    width: 0px;
}

.pagelayout-report #page-footer {
    float: none;
}

.pagelayout-report #page-content .region-content {
    overflow: visible;
}

/** Correct for content only **/
.pagelayout-report.content-only #report-main-content .region-content {
    margin-left: 0;
}

/** Correct for right to left languages **/
.dir-rtl.pagelayout-report #report-main-content .region-content {
    margin-left: 0;
    margin-right: 0px;
}

.dir-rtl.pagelayout-report #report-region-wrap {
    left: 0;
}

/** Stabalise IE6 behaviour on the report layout **/
.ie6.pagelayout-report #report-main-content {
    float: none;
    width: auto;
}

.ie6.pagelayout-report #report-region-wrap {
    float: none;
    width: auto;
    left: auto;
    position: absolute;
    top: 0;
}

.ie6.pagelayout-report #report-region-pre, .ie6.pagelayout-report #report-region-pre .block {
    width: 100%;
}


/* new styles */
#page-content {
	border: 1px solid #dddddd;
}

#region-pre, #region-post {
	margin-top: 10px;
}

#region-pre .skip-block-to {
	height: 0px;
	display: none;
}

#region-pre, #region-post {
	text-align: center;
	height: auto;
}

#region-pre .block, #region-post .block {
	vertical-align: top;
	display: inline-block;
	width: 239px;
	margin-right: 2px;
	margin-left: 2px;
}

.navbar {
	margin: 5px 0px;
}